/* *{
	background-color:black;} */
.button-group{
	margin:0 !important;
	align-content: center;
}

@font-face { font-family: 'Urchlo Romhanach'; src: url('../fonts/Urchlo\ Romhanach.ttf'); } 
#output{
	position: fixed;
	width:90%;
	height:30%;
	/* border:3px solid green; */
	margin:5%;
	font-family: 'Urchlo Romhanach';
	z-index: 1;
	word-wrap: break-word;
}
.btn{
	font-size:1.2rem;
	/* margin:0 !important; */
	display: block;
	width: 100%;
	/* margin:2px; */
	border-radius:10px;
	

}


.btn-right{
	/* border:3px solid orange; */
	/* padding-right:8px !important;  */
	color:palegoldenrod;
	background-color:#716c80
	
	
}
.btn-left{
	background-color:#8b816d;

	color: rgb(255, 227, 255);
	/* border:3px solid orange; */
	/* padding-left:8px !important;  */


}
#keyboard-container, #caps-keyboard-container, #fada-mode{
	position:fixed;
	bottom:5%;
	background-color:rgba(144, 144, 144, 0.52);
	padding-top:3px;
	padding-bottom:3px;
	display:inline-block;
	align-content: center;
	text-align: center;
	z-index: 10;
	
}

#e-line, #f-line , #a-line, #c-line, #shift-line{
	/* border:2px solid orange; */
	width:100%;
}


.space{
	/* border:2px solid green; */
	width: 70% !important;
	margin-left:5%;
	bottom:5%;
	padding-left:60px !important;
	padding-right:60px !important;
}
#backspace{
	
	left:10px;
	width:50px;
}

.z-line{
	
	margin-left:2% !important;
}


	.btn{
		/* width:15%; */
		margin:2px !important;
/* display:block; */

}